# dont track contents of Visual Code folder as this contains user profile preferences

.vscode/
.DS_Store
*/.DS_Store

# ignoring jupyter notebook metadata
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# removing answer keys from view
answerkeys/
